*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  //overflow-x: hidden;
}

//Navigation

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  img {
    width: 3em;
  }

  .hamburger {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: white;
  }

  .hamburger:hover .bar2 {
    transform: translatex(0.5em);
    background-color: rgb(43, 108, 182);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 46px;
    flex-direction: column;
    background-color: #000000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 99;
    transition: 0.2s;

    li {
      list-style-type: none;
    }

    a {
      color: whitesmoke;
      font-size: 2rem;
      text-decoration: none;
    }

    .nav-item {
      margin-bottom: 2em;
      transform: 0.2s cubic-bezier(0.42, 0, 0, 1.03);
    }

    a:hover {
      color: rgb(43, 108, 182);
    }
  }

  .nav-menu.active {
    //right: 0;
    opacity: 1;
  }
}

//hero
.hero {
  position: relative;

  img {
    width: 100%;
    opacity: 0.3;
  }

  .hero-text {
    position: absolute;
    top: 1%;
    left: 50;
    color: whitesmoke;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    margin-top: -2em;
    padding-left: 1em;
    padding-right: 1em;
    width: 30em;
    text-align: center;
  }
  .hero-btn {
    margin-top: 2em;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(43, 108, 182);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 40px;
  }

  .hero-btn:hover,
  .hero-btn:focus {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
  }
}

//article
.article {
  display: flex;
  flex-direction: column;

  .article-1,
  .article-2,
  .article-3,
  .article-4 {
    img {
      width: 100%;
    }
    .article-news {
      color: rgb(43, 108, 182);
      text-align: center;
    }

    a {
      color: whitesmoke;
      text-decoration: none;
    }

    .article-desc {
      text-align: center;
      margin-top: -1em;
      margin-bottom: 3em;
    }
  }
}

//extra
.extra {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-align: center;

  h3 {
    font-size: 2.5rem;
  }

  p {
    margin-top: -2.5em;
    padding: 1em;
    width: 30em;
  }

  img {
    margin-top: 2em;
    width: 100%;
  }

  a {
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 40px;
  }

  .extra-btn:hover,
  .extra-btn:focus {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
  }
}
